/* Custom CSS*/


/*teaching page test*/


.image-hover-wrapper {
  position: relative;

}

.image-hover-wrapper a {
  display: inline-block;
  letter-spacing: normal;
  line-height: initial;
  margin: 0;
  padding: 0;
  position: relative;
            border-color: black;
    border-style: solid;
    border-width: 1px;
}

.image-hover-wrapper a img {
  float: left;
  overflow: hidden;
  width: 100%;
}

.image-hover-wrapper a .image-hover-wrapper-reveal {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fefefe;
  display: inline;
  height: 100%;
  margin-left: -100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 80;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover {
  opacity: 1;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-hover-wrapper a .image-hover-wrapper-reveal:hover p {
  opacity: 1;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 0.25s;
}

.image-hover-wrapper a .image-hover-wrapper-reveal p {
  bottom: 0;
  display: block;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-hover-wrapper a .fa {
  font-size: 24px;
}

.image-hover-wrapper .image-hover-wrapper-banner {
  background-color: rgba(23, 121, 186, 0.8);
  color: #fefefe;
  font-weight: 600;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  top: 25%;
  width: 65%;
  z-index: 10;
}


/*teaching page*/


.marketing-site-content-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.marketing-site-content-section .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.marketing-site-content-section .marketing-site-content-section-img {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.marketing-site-content-section .marketing-site-content-section-img img {
  width: 100%;
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-img {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.marketing-site-content-section .marketing-site-content-section-block {
  padding: 1rem;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  background: #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 40em) {
  .marketing-site-content-section .marketing-site-content-section-block {
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    padding: 2rem;
  }
}

.marketing-site-content-section-block-header {
  font-size: 24px;
}

.marketing-site-content-section-block-subheader {
  font-size: 14px;
  color: #000000;
}

/* Course Sites*/

.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/haboob.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  bottom: 1.1em;
}

.hero-full-screen-wrl {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/wrlhero.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  bottom: 1.1em;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #fefefe;
  padding-top: 15em;
}

.hero-full-screen-wrl .middle-content-section {
  text-align: center;
  color: #000000;
  padding-top: 15em;
}

.hero-full-screen .middle-content-section h1 {
  font-family: 'Raleway', sans-serif;
}

.hero-full-screen .content-section h2 {
  font-family: 'Raleway', sans-serif;
}

.hero-full-screen .middle-content-section .button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    background-color: #2199e8;
    color: #fefefe;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

.hero-full-screen .middle-content-section .button:hover{
   background-color: #2d88c3;
   color: white;

}


.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
  padding-bottom: 19rem;
}

.hero-full-screen-wrl .bottom-content-section {
  padding: 1rem;
  padding-bottom: 19rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen-wrl .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}

/* General Styles*/

* {
    outline: none;
    font-family: 'Raleway', sans-serif;
}

.wrap{
    width: 90%;
    max-width: 1100px;
    margin:0px auto;
}

.off-canvas-wrapper{
    /*background-color: #fadd59;*/
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

/* Mobile Navigation Styles*/

.title-bar{
    background: transparent;
    height: 88px;
    padding-top: 17px;
    position: relative;
    z-index: 1;
}

.menu-icon:after{
  background: #484845;
  box-shadow: 0 7px 0 #484845, 0 14px 0 #484845;
}

.title-bar-title{
    color: #484845;
    font-size: 1.55em;
    font-weight: normal;
    padding-left: .2em;
}

.title-bar-title a{
    color: #000000;
}

#mobile-menu{
    background-color: transparent;
    padding: 10px;
}

#mobile-menu li{
    list-style: none;   
    font-size: 1.2em;
}

#mobile-menu a{
    color: #484845;
    font-weight: normal;
    line-height: 2;
}

#mobile-menu a:hover{
    color: rgba(76, 76, 89, 0.7);  
}

.js-off-canvas-exit{
    background: rgba(0, 0, 0, 0.25);
}

/* Desktop Navigation Styles*/
.nav-desktop{
    background-image: url("../img/custombanner.png");
    height: 85px;
    padding: 0;
    position: relative;
    z-index: 1;
    background-color: transparent;
}



.site-logo{
    color: white;
    line-height: 80px;
    padding-left: 13px;
}

.nav-desktop .menu-desktop{
    line-height: 80px;
    background-color: transparent;
}

.top-bar-left a{
  color: #000000;
  padding-left: 0.3em;
  font-size: 2.75em;
}

.top-bar-left a:hover {
  color: #000000;
}

.top-bar-left a:active {
  color: #000000;
}

.menu > li > a{    
    display: inline-block;
    line-height: 80px;
    padding-bottom: 0;
    padding-top: .1em;
    color: #000000;
    font-size: 1.5em;
    font-weight: 100;
}

.menu > li > a:hover{
    color:#565555;
}

/* Hero Styles*/
.hero{
    /*background-color: #999;*/
    padding: 30px 0px;
    /*background-image: url("../img/hero-pattern.png")    */
}

.hero h1,
.hero p {
    color: rgba(0,0, 0, 1);
    padding-top: 3em;
    /*width: 60%;*/
}

.hero .button {
    background-color: #fadd59;
    color: #1a1b23;
    font-size: 1em;    
}
/* Main Styles*/
.main{
    padding: 0px 0px 80px 0px;
}

.main-research{
    padding: 30px 0px 80px 0px;
}

.accordion-title{
    font-size: 1em;
    color: #1a1b23;
}

.accordion-item a:hover, a:focus{
    color: #1a1b23;
}

.accordion-item img{
    padding-bottom: 1.2em;
}

.accordion blockquote{
    color: #635757;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding-bottom: 1.2em;
}

.main-teaching{
    padding: 30px 0px 150px 0px;
}

.main-cv{
    padding: 30px 0px 80px 0px;
}

.main h1{
  font-family: 'Raleway', sans-serif;
}

/* Footer Styles*/
footer{
    background-image: url("../img/topography.jpg");
    padding: 60px 0px;
}

footer a{
    display: block;
    color: #ffffff;
    font-size: 1em;
}

footer a:hover{
    color: rgba(255,255,255, 0.8);
}

footer a span{
    font-weight: bold;
    color: #ffffff;
}

footer h4{
    color: #ffffff;
    font-size: 1.5em;
}

footer p{
    color: #ffffff;
}

footer hr{
    color: rgba(255,255,255, 0.2);
    margin: 10px 0;
    border-top: 1px solid #ffffff;
    }

footer .social-buttons{
    padding-top: 10px;
 }    

footer i {
  font-size: 2.5rem; }

footer .icon-button {
  border-radius: 3.6rem;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0 5px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  background: white; }
  .icon-button span {
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.3s; }
  .icon-button:hover span {
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem; }
  .icon-button i {
    background: none;
    height: 3.6rem;
    width: 3.6rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    line-height: 3.6rem;
    transition: all 0.3s; }
    
.twitter span {
  background-color: #4099ff; }

.github span {
  background-color: #000000; }

.blogger span {
  background-color: #db5a3c; }

.linkedin span {
  background-color: #0274b3; }

.icon-button .fi-social-twitter {
  color: #4099ff; }

.icon-button .fi-social-github {
  color: #000000; }

.icon-button .fi-social-blogger {
  color: #db5a3c; }

.icon-button .fi-social-linkedin {
  color: #0274b3; }

.icon-button:hover .fi-social-twitter, .icon-button:hover .fi-social-github, .icon-button:hover .fi-social-blogger, .icon-button:hover .fi-social-linkedin {
  color: white;
  font-size: 2.6rem;
  line-height: 3.9rem; }

/* Media Queries*/
@media (max-width: 639px){    
    .nav-desktop{
        display: none;
    }
    }

    @media (max-width: 900px){    
    .top-bar-left a {
        font-size: 2em;
    }
}

@media (max-width: 900px){    
    .top-bar-left {
        padding-top: 1em;
    }
}

@media (max-width: 900px){    
    .menu > li > a{
        font-size: 1.2em;
    }
}

@media (max-width: 739px){    
    .hero h1,
    .hero p {
        width: 100%;
        padding-top: 0em;
    }
    .hero img{
        padding-bottom: 1em;
    }
}